Package: wtfos-package-config
Version: 0.1.0
Maintainer: Joonas Trussmann <joonas@batman.ee>
Description: package-config CLI tool for interacting with package configurations
Architecture: pigeon-all
Depends: jq
